
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: logo-spin infinite 1s linear;
  }
}

/* Custom gradient text */
.gradient-text {
  @apply bg-gradient-to-r from-primary-a to-primary-b bg-clip-text text-transparent;
}
